<!-- _EditPartial.cshtml -->
@model Employee

@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { id = "editForm" }))
{
    @Html.HiddenFor(model => model.Id) <!-- Add hidden input for Id -->

    <div class="container">
        <h2>Edit Employee</h2>

        <!-- Form fields for editing employee details -->
        <div class="form-group row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label" })
            </div>
            <div class="col-sm-5">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label" })
            </div>
            <div class="col-sm-5">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "col-form-label" })
            </div>
            <div class="col-sm-5">
                @Html.DropDownListFor(model => model.Department, new SelectList(new[]
                         {
            "IT", "HR", "ClientService", "Sales"
            }), "Select Department", new { @class = "form-control" })
            </div>
        </div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}